.bodyy {
    background-color: lightgray;
}
.form_details {
    display: inline-flex;
    padding: 30rems;
}


.form_details{
    width:550px;
    margin:auto;
}

.btn{
    outline:none;
    border-radius: 5px;
    

}
